
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Euphoria+Script&family=Josefin+Sans&display=swap');

body {
    background-color: #f0f0f0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}

div.signature {
    font-family: Alice, serif;
    font-size: 4em;
    font-weight: bold;
    color: white;
}

div.big-date {
    color: white;
    margin-top: -30px;
}

@media (min-width: 768px) {
    div.signature {
        font-size: 6em;
    }
    div.big-date {
        font-size: 1.5em;
        margin-top: -40px;
    }
}

div.section-image {
    min-height: 300px;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: grey;
}

h1 {
    font-family: 'Euphoria Script', serif;
    font-weight: normal;
}

div.section {
    margin: 30px 0px;
}

a.rsvp {
    margin-top: 20px;
}
